body{
    margin:0px;
    padding:0px;
    border:0px;
}
div{
    background-color: rgb(9, 179, 128);
}
#div1{
    background-color: rgb(218, 19, 29);
}
#husky{
    position: absolute;
    top: 100px;
    left: 0%;
}